a:focus{
outline: none;
}
a,a:hover,a:active{
text-decoration: none !important;
}

    .no-js #loader {
        display: none;
    }
    
    .js #loader {
        display: block;
        position: absolute;
        left: 100px;
        top: 0;
    }
    
    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(../../custom/images/Preloader_8.gif) center no-repeat #fff;
    }
	.ajax-loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 10002;
		opacity: 0.7;
        background: url(../../custom/images/Preloader_8.gif) center no-repeat #7F7F7F;
    }
    
    .glyphicon-edit.itemPanel {
        margin-top: 15px;
        padding-right: 40px;
        margin-left: 4px;
    }
    
    .food_item .cartMinus1 {
        padding-left: 7px;
    }
    
    .food_item .quantityItem {
        margin-left: 12px !important;
        margin-right: 11px;
        border: 1px dotted;
        padding: 0px 8px 0px 8px;
        border-radius: 0px 10px;
		border-color: rgb(151, 158, 89);
    }
    
    .rate {
        /*color: rgb(255, 196, 80);*/
    }
    
    body:before {
        z-index: 1;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        body:before {
            z-index: 2;
        }
    }
    /*
@media screen and (min-width: 768px) {
.container{
	padding-left: 8% !important;
}
}*/
    
    @media screen and (min-width: 420px) and (max-width: 767px) {
        body:before {
            z-index: 3;
        }
        .search .form-control-feedback {
            margin-right: 25% !important;
        }
        .search.form-group {
            margin-left: 50% !important;
        }
        .form-control {
            width: 80% !important;
            margin-top: -45px !important;
        }
        .hiddenInTab {
            display: none;
        }
    }
    @media screen and (min-width: 0) and (max-width: 600px) {
		.hiddenMobileBig{
			display: none !important;
		}
		.showMobileBig{
			display: block !important;
		}
	}
    @media screen and (min-width: 0) and (max-width: 419px) {
        body:before {
            z-index: 4;
        }
        .searchInMobile {
            float: right;
            margin-top: -24px;
            margin-right: 50px;
        }
        .hiddeninMobile {
            display: none;
        }
		.hlink  img,#veg img,#nonveg img{
			width: 15px;
			}
    }
    
    @font-face {
        font-family: san-Light;
        src: url(../fonts/OpenSans-Light.ttf);
    }
    
    @font-face {
        font-family: segoe-Light;
        /*src: url(../fonts/segoe-ui-light.ttf);*/
        src: url(../fonts/OpenSans-Light.ttf);
    }
    
    @font-face {
        font-family: san-Regular;
        src: url(../fonts/OpenSans-Regular.ttf);
    }
    /*Login Screen Style*/
    /*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/
    
    @media (min-width: 768px) {
        .omb_row-sm-offset-3 div:first-child[class*="col-"] {
            margin-left: 25%;
        }
    }
    
    .omb_login .omb_authTitle {
        text-align: center;
    }
    
    .omb_login .omb_socialButtons a {
        color: white; // In yourUse @body-bg 
        opacity: 0.9;
    }
    
    .omb_login .omb_socialButtons a:hover {
        color: white;
        opacity: 1;
    }
    
    .omb_login .omb_socialButtons .omb_btn-facebook {
        background: #3b5998;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .omb_login .omb_socialButtons .omb_btn-google {
        background: #c32f10;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .modal-content {
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: transparent;
		background: url("../../custom/images/bg_image1.jpg");
    }
    
    .loginButton {
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        color: #fff;
        border: none;
        background-color: rgb(229, 157, 49);
        width: 227px;
        margin-top: 13px;
        padding: 5px;
		outline: none;
    }
    
    .omb_login .omb_loginOr {
        position: relative;
        font-size: 1.5em;
        color: #aaa;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-bottom: 0.5em;
    }
    
    .omb_login .omb_loginOr .omb_hrOr {
        background-color: #cdcdcd;
        height: 1px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    
    .omb_login .omb_loginOr .omb_spanOr {
        display: block;
        position: absolute;
        left: 50%;
        top: -0.6em;
        margin-left: -1.5em;
        background-color: white;
        width: 3em;
        text-align: center;
    }
    
    .omb_login .omb_loginForm .input-group.i {
        width: 2em;
    }
    .blur-backGround{
/*          -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
 */
  opacity: 0.1;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;	

  z-index: 1040;
	}
    .omb_login .omb_loginForm .help-block {
        color: red;
    }
    #userProfilePic{
    margin-top: 10px;
	}
	#profileList{
		margin-bottom: 0px;
	}
	.popover-content{
		padding: 0px;
	}
	#profileList .list-group-item{
		background-color: #fff !important;
	  border-top: 1px solid #ddd !important;
		  cursor: pointer;
	}
	#profileList .list-group-item:hover{
		background-color: #ddd !important;
	}
    .loginForm {
        padding: 19px;
        margin: -9px;
        border-bottom-left-radius: 40px;
        border-top-right-radius: 40px;
        background: url("../../custom/images/bg_image1.jpg");
        background-size: 100%;
    }
    
    @media (min-width: 768px) {
        .omb_login .omb_forgotPwd {
            text-align: right;
            margin-top: 10px;
        }
    }
    /*End Login Screen Style*/
    /*Index Screen Style*/
    
    body {
        background-image: url("../../custom/images/bg_image1.jpg");
        background-repeat: repeat-y;
        background-size: 100%;
        min-height: 500px;
        padding-top: 70px;
        font-family: segoe-Light;
    }
    
    .address {
        border: 0px !important;
        background-color: whitesmoke !important;
    }
    
    .categories {
        max-height: 635px;
        background-color: rgb(255, 196, 80);
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    
    .items {
        padding: 12px;
        min-height: 550px;
        max-height: 550px;
        overflow: auto;
    }
    
    .items div.media:after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        margin-top: 10px;
        background: #A0001C;
    }
    
    .nav-links {
        color: #A0001C !important;
    }
    
    .itemList {
        height: 635px;
        padding-left: 0px !important;
        padding-right: 0px !important;
		border-right: 1px solid rgb(255, 196, 80);
		  border-bottom: 1px solid rgb(255, 196, 80);
		  border-radius: 10px 10px 10px 0px;
    }
    
    .img {
        width: 75px;
        height: 75px;
        /* border: 1px solid #000000; */
        border-bottom-left-radius: 20px;
    }
    
    .logo {
        /*  height:45px;
    margin-top: -17px;*/
    }
    
    .nav-tabs>li>a {
        color: #555 !important;
		font-weight: bold;
    }
    
    .breakFast {
        background-color: rgb(233, 105, 44);
        border-top-right-radius: 10px;
    }
    
    .lunch {
        background-color: rgb(254, 17, 59);
        border-top-right-radius: 10px;
    }
    
    .dinner {
        background-color: rgb(195, 0, 35);
        border-top-right-radius: 10px;
    }
    
    .lateNight {
        background-color: rgb(255, 196, 80);
        border-top-right-radius: 10px;
    }
}
.glyphicon-th-list {
    color: rgb(255, 196, 80);
}
.navbar-default {
    background-color: rgb(255, 196, 80) !important;
}
.navbar-bottom{
  margin-top: 10px;
  margin-bottom: 0px !important;
  padding-top: 4px;
}
.list-group-item.inActive {
    background-color: rgb(255, 196, 80) !important;
  
  border: 1px solid rgb(255, 196, 80) !important;
  border-top: 1px solid rgb(245, 192, 87) !important;
}
.list-group-item.activeCat {
    
    border: none !important;
	background-color: white !important;
	margin: 10px 0px 10px 3px;
}
.heading {
    background-color: rgb(210,145,51) !important;
    font-size: 18px;
    height: 42px;
    color: white;
}
.list-group-item:first-child {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
}

.glyphicon-th-list {
    color: white;
}
/*start Cart css*/
#activate-cartItems{
    margin-top: 10px;
}
.well .list-group-item {
  background-color: #fff !important;
}
.categories .stummyBrandingBottom{
      width: 18% !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #E59D31 !important;
}

.btn-primary {
  background-color: rgb(229, 157, 49) !important;
  border-color: rgb(229, 157, 49) !important;
}

.panel-primary {
  border-color: #E59D31 !important;
}
.panel-primary>.panel-heading {
  background-color: #E59D31 !important;
  border-color: #E59D31 !important;
}
.well{
      padding-bottom: 30px;
}
/*end Cart css*/

@media (min-width: 768px) {
    .nav-tabs.nav-justified>li>a {
        border-bottom: 0px solid #ddd !important;
    }
}
.links-active {
    border: 1px solid;
    margin: 0px;
    height: 8px;
    margin-top: 7px !important;
    padding-bottom: 25px !important;
    padding-top: 6px !important;
    background-color: rgb(210,145,51) !important;
    color: #ffffff !important;
    border-top-right-radius: 10px;
}
.cart {
    min-height: 300px;
    background-color: rgb(255, 196, 80);
    width: 292px;
    border-radius: 10px;
    max-height: 450px;
    margin-left: 10px;
}
.cartItems {
    padding: 5px;
    min-height: 300px;
    /*background: -webkit-linear-gradient(#CCC1AA, white, #CCC1AA);*/
    /* For Safari 5.1 to 6.0 */
    
  /*  background: -o-linear-gradient(#CCC1AA, white, #CCC1AA);*/
    /* For Opera 11.1 to 12.0 */
    
  /*  background: -moz-linear-gradient(#CCC1AA, white, #CCC1AA);*/
    /* For Firefox 3.6 to 15 */
    
   /* background: linear-gradient(#CCC1AA, white, #CCC1AA);*/
    /* Standard syntax (must be last) */
    background-color: white;
    margin-bottom: 16px;
    font-family: segoe-Light;
    padding-bottom: 25px;
    max-height: 400px;
}
.cartItemDesc {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 150px;
    max-height: 150px;
}
.scroll::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(255, 249, 237);
    padding-right: 10px;
}
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(255, 196, 80);
    outline: 1px solid slategrey;
    width: 40px;
}
.cartHeading {
    margin-top: 15px;
    margin-left: 5px;
    font-family: segoe-Light;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.cartList {
    margin-top: 4px;
    margin-left: 0px;
}
.hrLine {
    border-top: 1px solid rgb(255, 196, 80) !important;
}
.customize {
    background-color: rgb(229, 157, 49)!important;
    text-align: center;
    width: 138px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
}
.totalAmount {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: -15px;
}
#checkoutClass {
    background-color: rgb(229, 157, 49) !important;
    color: #fff;
    margin-top: -12px;
    padding: 5px;
    width: 100%;
}
#checkoutClass:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 15px solid white;
    border-left: 15px solid rgb(229, 157, 49);
    border-bottom: 15px solid white;
    width: 0;
}
.checkoutDisabled {
    background-color: #999793 !important;
    color: #fff;
    margin-top: -12px;
    padding: 5px;
    width: 100%;
}
#checkoutDisabled:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 15px solid white;
    border-left: 15px solid #999793 ;
    border-bottom: 15px solid white;
    width: 0;
}
.decrement {
    color: rgb(233, 105, 44);
    font-weight: bolder;
}
.increment {
    color: rgb(233, 105, 44);
    font-weight: bolder;
}
.more,.redirectToLogin {
    color: red !important;
    cursor: pointer;
}
.quantity {
    width: 20px;
    height: 22px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
}
.quantityBox {
    width: 25px;
    height: 22px;
    text-align: center;
}
.media-right {
    padding-left: -6px;
    display: inline-block;
    margin-top: -15%;
    margin-left: 80%;
}
.itemCount {
    margin-left: 10px;
}
.estimatedTime {
    background-color: rgb(239, 231, 215) !important;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
    font-family: segoe-Light;
}
.left {
    float: left;
    width: 55%;
}
.right {
    float: right;
}
.medial-heading span.pull-right {
    color: red !important;
}
.media-heading {
    padding-left: 5px;
    padding-right: 5px;
    font-family: segoe-Light;
    margin-right: 30%;
    font-weight: bold;
    font-size: 16px;
}
.summary {
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    width: 80%;
}
.glyphicon-plus,
.glyphicon-chevron-right,
.glyphicon-minus,
.glyphicon-chevron-left,
.glyphicon-trash,
.glyphicon-edit,
.glyphicon-shopping-cart,.glyphicon-search {
    padding-left: 3px;
    cursor: pointer;
}
.socialButton {
    cursor: pointer;
    max-width: 100%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*End Index Screen Style*/
.search .form-control-feedback {
    margin-right: 4%;
}
.search.form-group {
    margin-top: 8px !important;
    margin-bottom: 7px !important;
    margin-left: 20%;
}
@media screen and (max-width: 640px) {
    .media-right {
        margin-top: -6%;
        margin-left: 64%;
    }
    
    .media-heading {
        margin-right: 35%;
    }
}
@media screen and (max-width: 420px) {
    .media-right {
        margin-top: -9%;
    }
    
    .sort li {
        width: 50% !important;
    }
    
    .summary {
        text-align: justify;
    }
    
    .search.form-group {
        margin-left: 0%;
    }
    /*.itemList ul{
    margin-top: 35px;
}*/
}

@media screen and (max-width: 320px) {
    .media-right {
        margin-top: -12%;
    }
}
@media screen and (min-width: 768px) {
    .media-right {
        margin-top: -19.5%;
    }
}
@media screen and (min-width: 1024px) {
    .media-right {
        margin-top: -15.5%;
    }
}

/*Start Product line item*/
ul.product-line-items {
    list-style: none;
}
ul.product-line-items li {
    float: left;
    margin-right: 2%;
}
ul.product-line-items li input[type="radio"] {
    background-color: rgb(237, 178, 67);
    color: white;
}
.lateNight span.input-group {
    float: right;
    margin-top: -7%;
    margin-right: -43%;
}
.modal-header .close {
    margin-top: 3px !important;
    margin-right: 12px !important;
	color: white !important;
	opacity: 0.9 !important;
}
.modal-header .close.bgwhite{
    margin-top: 3px !important;
    margin-right: 12px !important;
	color: rgb(237, 178, 67) !important;
	font-weight: bold;
	font-size: 22px;
}
close bgwhite
.customizeFoodBody .product-name {
    float: left;
    margin-right: 2%;
}
.modal-body.customizeFoodBody {
    padding-top: 0px !important;
    text-align: center;
    margin-top: 2%;
}
.navToggle {
    height: 40px !important;
	border: 1px solid rgb(255, 196, 80);
}
.navbar-toggle {
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    border-color: #FFC450 !important;	
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #FFC450 !important;
}
.modal-header.customizeFoodHeader {
    padding-bottom: 0px !important;
    border-bottom: 0px;
    padding: 25px !important;
	color: rgb(229, 157, 49);
	height: 91px;
}
.modal-content < .customizeFoodHeader {
    background-color: red;
}
.customizeFoodModel {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(237, 178, 67);
}
#customizeFoodBut,
#customizeFoodButCart,
#DeleteButCart {
    background-color: rgb(229, 157, 49) !important;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: #fff;
    border: none;    
    margin-top: 13px;
    padding: 5px 20px 5px 20px;
	margin-right: 10px;
}
#customizeFoodBut {
    margin-left: 60px;
    margin-bottom: 10px;
}
.nav-tabs>li>a:hover {
    background-color: rgb(255, 196, 80) !important;
    border-color: rgb(255, 196, 80) !important;
}
.nav-tabs>li>a:focus {
    background-color: rgb(255, 196, 80) !important;
    border-color: rgb(255, 196, 80) !important;
}
img.img.media-object.visible-xs {
    margin-right: 3%;
    float: left;
}
.media-right span {
    margin-right: 3px;
}
.cartItemCount.active {
    background-color: rgb(238, 179, 64) !important;
    color: white;
	font-weight: bold;
}
.cartItemCount {
    position: absolute;
    top: 15px;
    margin-left: 5px;
}
.cartHeading .glyphicon-shopping-cart {
    font-size: 20px;
}
.customizeIcon {
    float: right;
    margin-top: -4%;
    margin-right: 25px;
}
.show-read-more .more-text {
    display: none;
}
.messagesBar {
    align: center;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
li.food_item {
/*    background-color: rgb(233, 223, 199);
    padding-bottom: 0em !important;
    padding: 0 0.5em;
    margin-top: 0.5em;
    padding-top: 5px;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    
    
    border-radius: 4px;*/
	background-color: transparent;
  padding-bottom: 5px !important;
  padding: 0 0.5em;
  padding-top: 5px;
  display: block;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
  
}
.round-button {
    display: block;
    width: 45px;
    height: 30px;
    line-height: 30px;
    /* border: 2px solid #F5F5F5; */
    /* border-radius: 50%; */
    
    color: black;
    text-align: center;
    text-decoration: none;
    /* background: none repeat scroll 0% 0% rgb(255, 196, 80); */
    /* box-shadow: 0px 0px 3px #808080; */
    
    font-size: 16px;
    font-weight: bold;
    margin-left: 27px;
    margin-bottom: 15px;
}
.profilePopUP img{
    height:80px;
    float : left;
}
#welcomeMsg span{
    padding-right: 20px;
}
#welcomeMsg span p{
    font-size: 14px;
}
#welcomeMsg .glyphicon{
    color: #fff;
    cursor: pointer;
}
#userProfilePic p {
    margin-left: -8px;
}
#logout p {
    margin-left: -9px;
}
.popover{
      top: 50px;
  left: -90.5px;
  display: block;
  width: 220px;
}
.profileName{
    font-weight: bold;
}
.left{
    padding-left: 10px;
    }
.profileLink{
    float:left;
}
.profileOptions{
    clear: both;
    list-style: none;
    padding-left: 0px;
}
@media (max-width: 420px) {
    /*.show-read-more{
      clear:both !important;
	  padding-top: 4%;
	
  }*/
    
    .img {
        display: none !important;
    }
}
.rowCheckBox {
    border: 0px solid red;
    overflow: hidden;
    padding: 5px;
}
.hidden{
    display: none;
}
.colCheckBox {
    float: left;
    padding: 5px;
    margin-right: 5px;
}
.colCheckBox label {
    padding-left: 5px;
    font-family: san-Regular;
}
.cartMinus1,
.cartPlus1 {
    font-size: 18px;
}
.glyphicon-edit,
.glyphicon-shopping-cart,
.quantityItem,
.glyphicon-user,
.glyphicon-off{
    font-size: 20px;
}
@font-face {
    font-family: 'WebRupee';
    src: url('../../vendor/fonts/inr/WebRupee.V2.0.eot');
    src: local('WebRupee'), url('../../vendor/fonts/inr/WebRupee.V2.0.ttf') format('truetype'), url('../../vendor/fonts/inr/WebRupee.V2.0.woff') format('woff'), url('../../vendor/fonts/inr/WebRupee.V2.0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.WebRupee {
    font-family: 'WebRupee';
}
.mobileHide {
    display: none;
}
.hlink {
    color: blue;
    cursor: pointer;
    font-size: 13px;
	width: 100%;
}

/*.media-heading img {
    height: 15px;
}*/
a.list-group-item {
    color: #FFFFFF !importent;
	font-weight: bold;
}

.categoriesListMenuOverlay{
	position: relative;
}
.categoriesListMenuOverlay .heading {
    background-color: #750000 !important
	font-size: 18px;
	height: 42px;
	color: #FFF;
	width: 153px !important;
}
.categoriesListMenuOverlay .list-group-item.activeCat {
    background-color: #FFF !important;
}
/* .categoriesListMenuOverlay .item-type:hover {
    background-color: #FFF !important;
	margin: 10px 0px 10px 3px;
} */
.categoriesListMenuOverlay a.list-group-item {
    border: 0px !important;
    background-color: #FFC450 !important;
    font-weight: normal !important;
	color: #555;
}
.sidr{
      background: #FFC450 !important;
  
-webkit-box-shadow: inset 0 0 5px 5px #FFC450 !important;
  -moz-box-shadow: inset 0 0 5px 5px #FFC450 !important;
  box-shadow: inset 0 0 5px 5px #FFC450 !important;
}
#left-menu {
    margin-top: 20%;
    position: fixed;
    z-index: 1;
    font-size: 30px;
    margin-left: -60px;
    text-decoration: none;
}
.panel-heading {
    margin-bottom: 5px;
}
#menuMobile {
    height: 104px;
    width: 104px;
    position: fixed;
    top: 24%;
    z-index: 999;
    transform: rotate(-90deg);
    left: 0px;
}
.menuMobile {
    display: block;
    background: none repeat scroll 0% 0% #F00;
    height: 15px;
    width: 85px;
    padding: 8px 16px;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #FFF;
    box-sizing: content-box;
    z-index: 999;
    transform: rotate(-90deg);
}
.clearCart,
.trash,.glyphicon-copy,.glyphicon-pencil {
    cursor: pointer;
}
.panel-default>.panel-heading {
    color: #FFF;
    background-color: rgb(255, 196, 80);
    border-color: #ddd;
    font-weight: bold;
}
.panel-default>.panel-heading a {
    font-weight: bold;
}
.product_actions_cart{
padding-left: 5px;
text-align: left;
}

.HPHeader2 {
    font-size: 14px;
    padding: 3px;
}
.HPHeader2 > table {
    padding: 2px;
    width: 100%;
}
.HPHeader2 > table  > tbody > tr{
    border-bottom: 1px dashed rgb(208, 208, 208);
}
.sort {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.sort li {
    float: left;
    padding: 3px;
    text-align: center;
    height: 31px;
    width: 25%;
}
.sort_first {
    width: 20%;
	font-weight: bold;
}
.sort_second {
    border-radius: 5px;
}
.sort li:hover {
    background-color: rgb(255, 196, 80);
    border-radius: 10px;
}
.sort li a {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*.sort li a img {
    height: 15px;
}*/
@media screen and (min-width: 461px) and (max-width: 991px) {
    li.food_item {
        padding-bottom: .5em !important;
    }
    
    .customizeIcon {
        margin-top: -3%;
    }
}
@media screen and (min-width: 320px) and (max-width: 461px) {
.itemList {
  height: 685px;
  border: 1px solid rgb(255, 196, 80);
  border-radius: 10px 10px 10px 10px;
}
}
@media screen and (min-width: 462px) and (max-width: 768px) {
.itemList {
  height: 645px;
  border: 1px solid rgb(255, 196, 80);
  border-radius: 10px 10px 10px 10px;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body:before {
        z-index: 2;
    }
    
    .hiddenInTab {
        display: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 420px) {
    .customizeIcon {
        margin-right: 0% !important;
		margin-top: 1%;
    }
    #customizeFoodBut {
		margin-left: 15%;
	}
    .customizeIcon span {
        line-height: 0;
        !important;
    }
	.cartCustomizeHiden{
		margin-top: 60px;
	}
}
@media (min-width: 992px) {
    .customizeIcon {
        margin-right: 0% !important;
    }
}
@media (min-width: 992px) {
    .categories {
        width: 19% !important;
    }
    
    .nav-tabs.nav-justified {
        width: 100% !important;
    }
}
@media (min-width: 1050px) {
    .categories {
        width: 20% !important;
    }
}
@media (min-width: 1100px) {
    .categories {
        width: 22% !important;
    }
}
@media (min-width: 1150px) {
    .categories {
        width: 13% !important;
        margin-left: 6% !important;
		  border-radius: 10px 10px 0px 10px !important;
    }
}
    
    #checkoutClass {
        cursor: pointer;
    }
	.itemRowQuantity{
		text-align: center;
	}
	#cartCheckout > thead > tr > th{
		font-weight: bold;
	}
	.glyphicon-plus-sign, .glyphicon-minus-sign{
		color: rgb(151, 158, 89);
	}
	button.addCart.itemPanel {
	  border-radius: 5px;
	  margin-top: 11px;
	 /* margin-left: 10px;*/
	  margin-left: 32px;
	  font-weight: bold;
	/*  background-color: rgb(113, 112, 110);*/
	  background-color: rgb(151, 158, 89);
	  color: white;
	  outline:none;
	}
	.bootstrap-dialog.type-primary .modal-header{
		background-color: rgb(229, 157, 49) !important;
	}
	.link{
		color: rgb(229, 157, 49);
		font-weight: bold;
	}
	.checkoutTotalAmount{
		font-size: 15px;
		font-weight: bold;
	}
	.catIncon{
		margin-right: 5px;
		}
	.glyphicon-edit.cartPanel{
		font-size: 14px;
		color: #949393;
		}
	.glyphicon-plus.cartPlus,.glyphicon-minus.cartMinus{
		font-size: 12px;
		color: #949393;
		}
		
			.list-group-item.item-type.activeCat {
			
			border-radius: 0px !important;
			}
			.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
.hrow{
	color: #757373 ;
}
@media screen and (max-width: 600px) {
    table#cartCheckout tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cartCheckout thead { display: none; }
	table#cartCheckout tbody td { display: block; padding: .6rem; min-width:220px;text-align: left;}
	table#cartCheckout tbody tr td:first-child { background: #333; color: #fff; }
	table#cartCheckout tbody td:before {
		content: attr(data-th); font-weight: bold;
		 display: inline-block; width:  15rem;
	}
	.itemRowPname,.panel-heading h3{
		font-size: 15px;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	table#cartCheckout tbody tr td.hrow { background: #757373 ; color: #fff; padding: 2px;}
	table#cartCheckout tbody td.hrow:before {content: attr(data-th);font-weight: bold;width: 15rem;display: inline;}
	table#cartCheckout tbody td:first-child:before {content: attr(data-th);font-weight: bold;width: 15rem;display: inline;}
	
	table#cartCheckout tfoot td{display:block; }
	table#cartCheckout tfoot td .btn{display:block;}
	}
	.modal-header{
		border-radius: 0px 30px 0px 0px !important;
	}
	
	.img-responsive-checkout{
		display: block;
		max-width: 100%;
		height: auto;
	}
	a.footer-link,span.footer-link{
		color: white;
		margin-top: 10px;
		font-weight: bold;
		margin-right: 5%;
	}
	a.footer-link.space{
		margin-right: 10%;
	}
	#paymentMode{
		border-bottom: 0px !important;
	}
	#cod,#sod,#mc,#ib{
		padding: 100px;
		border: 1px solid #ddd;
		font-family: sans-serif;
		font-size: 1.5em;
	}
	.cod,.sod,.mc,.ib{
	color: black !important;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 10px;
  }
	#paymentMode > li{
	background-color: #F9D99A !important;
	border-left: 1px solid rgb(229, 157, 49) !important;
	}
	#paymentMode > li.active{
		background-color: rgb(229, 157, 49) !important;
		color: white;
	}
	#paymentMode > li.active::before {
		content: "";
		position: absolute;
		bottom: -15px;
		left: 50px;
		border-width: 20px 0 0 20px;
		border-style: solid;
		border-color: #E59D31 transparent;
		display: block;
		width: 0;
	}
	#paymentMode > li.active::after {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 63px;
		border-width: 20px 0 0 10px;
		border-style: solid;
		border-color: #FFF transparent;
		display: block;
		width: 0;
	}
	#paymentMode > li.active > span > a{
		color: white !important;
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
		margin-left: 2px;
	}
	.placeOrderFinal{
		width: 50%;
		margin-left: 25%;
		margin-top: 10px;
  }
  .imgIcon{
	padding: 10px;
  }
  .bootstrap-dialog .bootstrap-dialog-message,#aboutUsScreen  .modal-body, #contactUsScreen .modal-body,#contactUsScreen .modal-body{
		font-size: 16px !important;
		font-weight: bold !important;
  }
  .address-wrapper {
	  word-break: break-all;
	}
	/*Profile*/
.user-details {position: relative; padding: 0;}
.user-details .user-image {position: relative;  z-index: 1; width: 100%; text-align: center;}
 .user-image img { clear: both; margin: auto; position: relative;}

.user-details .user-info-block {width: 100%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px;}
 .user-info-block .user-heading {width: 100%; text-align: center; margin: 40px 0 0;}
 .user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-top: 1px solid #428BCA;}
  .navigation li {float: left; margin: 0; padding: 0;}
   .navigation li a {padding: 20px 25.7px; float: left;}
   .navigation li.active a {background: #428BCA; color: #fff;}
 .user-info-block .user-body {float: left; padding: 5%; width: 90%;}
  .user-body .tab-content > div {float: left; width: 100%;}
  .user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}
  .glyphicon-copy{
	margin-right:20px;
	}